.main{

    &__slides{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__slide{
            height: 750px;
            width: 480px;
            position: relative;
        &-img{
            height: 750px;
            width: 480px;
            filter: blur(7px);
            transition: 0.8s;
            
        }
        &-img.active{
            filter: blur(0px);
        }
        &-text{           
            font-size: 48px;
            line-height: 50px;
            font-family: 'PlayfairDisplay-Italic';
            color: $white;
            position: absolute;
            width: 100%;
            text-align: center;
            margin-top: 50px;
            opacity: 0;
            transition: 0.8s;
            top: 0;
        }
        &-text.active{
            top: 0;
            opacity: 1;
        }
        &-btn{
            font-size: 18px;
            line-height: 24px;
            font-family: 'PlayfairDisplay-Italic';
            color: $white;
            padding: 13px 124px;
            position: absolute;
            opacity: 0;
            z-index: 1;
            border: 1px solid $white;
            right: 81px;  
            transition: 0.8s; 
            top: 672px;
            
            &.active{
                top: 672px;
                opacity: 1;

            }
        }  
    }
}

.slider{
    width: 960px;
    height: 700px;
}
.slider-img{
    max-width: 960px;
    width: 100%;
    height: 700px;

}

.slider__controls{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.slider1{
    width: 960px;
    height: 700px;
}


.slider__controls1{
    display: flex;
    justify-content: center;
    gap: 15px;
}
button{
    padding: 10px;
}

.main{
    &__menu{
        background: $white;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__menu1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-R{
            max-width: 960px;
            width: 100%;
            height: 700px;
        }
    }
    &__section{
        &-img{
        width: 685px;
        height: 515px;
        }
        &-title{
        font-size: 48px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $black;
        font-family: 'PlayfairDisplay-Regular';
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;
        }
        &-dec{
        font-size: 20px;
        line-height: 24px;
        color: $black;
        font-family: 'PlayfairDisplay-Regular';
        margin-left: 35px;
        margin-bottom: 10px;
        }
        &-text{
        font-size: 16px;
        line-height: 24px;
        color: $black;
        font-family: 'PlayfairDisplay-Regular';
        margin-left: 35px;
        margin-bottom: 30px;
        margin-right: 10px;
        }
        &-all {
            overflow: scroll;
            height: 531px;
            width: 761px;
        }
    }
}
