main.main 
    .main__slides 
        .main__slide
            img(src="./images/main-slide1.png", alt="").main__slide-img
            h1.main__slide-text CAKES
            a(href="#").main__slide-btn MORE
        .main__slide
            img(src="./images/main-slide2.png", alt="").main__slide-img.active
            h1.main__slide-text.active KITCHEN
            a(href="#").main__slide-btn.active MORE
        .main__slide
            img(src="./images/main-slide3.png", alt="").main__slide-img
            h1.main__slide-text BREAKFAST
            a(href="#").main__slide-btn MORE
        .main__slide
            img(src="./images/main-slide4.png", alt="").main__slide-img
            h1.main__slide-text FRUITS
            a(href="#").main__slide-btn MORE
    .main__information 
        .main__informationDate
            .main__informationDateUp
                .main__informationDateUpInputs 
                    input.main__informationDateUpInput(type="text" placeholder="Date" color="red")
                    input.main__informationDateUpInput(type="text" placeholder="Time")
                    input.main__informationDateUpInput(type="text" placeholder="How many people")
                    input.main__informationDateUpInput(type="text" placeholder="Special wishes")
                    input.main__informationDateUpInput(type="text" placeholder="Your name")
                    input.main__informationDateUpInput(type="text" placeholder="Your phone")
            .main__informationDateDown 
                    p.main__informationDateDown-description Monday - Sunday ; 09:00 - 02:00
                    a.main__informationDateDown-btn(href="") RESERVATION
        .main__informationR 
            h1.main__informationR-text RESERVE A TABLE
            p.main__informationR-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__informationR-descriptionA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.


