footer.footer 
    .footer__aboutL 
        img.footer__aboutL-logo(src="./images/logo.svg", alt="")
        .footer__aboutL-internet 
            a(href="#")
                img.footer__aboutL-internetIcon(src="./images/facebook.svg", alt="")
            a(href="#")
                img.footer__aboutL-internetIcon(src="./images/instagram.svg", alt="")
            a(href="#")
                img.footer__aboutL-internetIcon(src="./images/telegram.svg", alt="")
        .footer__aboutL-contact 
            h1.footer__aboutL-contactText CONTACT 
            p.footer__aboutL-contactDescr (302) 555-0107
            p.footer__aboutL-contactDescr (239) 555-0108
            p.footer__aboutL-contactDescr laperle.com
        .footer__aboutL-location 
            h1.footer__aboutL-locationText LOCATION 
            p.footer__aboutL-locationDescr 1901 Thornridge Cir. Shiloh, Hawaii 81063

    .footer__aboutR 
        img.footer__aboutR-img(src="./images/map.png", alt="")