main.main 
    div.main__about
        img.main__about-img(src="./images/menu-img.png", alt="")
        .main__about1
            h1.main__about-text MENU 
            p.main__about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.main__about-btn(href="") READ MORE 
        .main__about1
            h1.main__about-text EVENTS
            p.main__about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.main__about-btn(href="") READ MORE 
        img.main__about-img(src="./images/events-img.png", alt="")
        img.main__about-img(src="./images/aboutUs-img.png", alt="")
        .main__about1
            h1.main__about-text ABOUT US
            p.main__about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.main__about-btn(href="") READ MORE 
    .main__content 
        .main__contentBox 
            img.main__contentBox-img(src="./images/valDay-img.png", alt="")
            p.main__contentBox-text VALENTINE’S DAY
        .main__contentBox 
            img.main__contentBox-img(src="./images/enjoy-img.png", alt="")
            p.main__contentBox-text ENJOY 25% OFF DINNER 
        .main__contentBox 
            img.main__contentBox-img(src="./images/fish-img.png", alt="")
            p.main__contentBox-text FISH TARTARE WITH WASABI
        .main__contentBox 
            img.main__contentBox-img(src="./images/restaurant-img.png", alt="")
            p.main__contentBox-text RESTAURANT REVIEW
        .main__contentBox 
            img.main__contentBox-img(src="./images/mothers-img.png", alt="")
            p.main__contentBox-text MOTHER’S DAY
        .main__contentBox 
            img.main__contentBox-img(src="./images/white-img.png", alt="")
            p.main__contentBox-text1 CONTINUE READING OUR NEWS    
              a.main__contentBox-link(href="") HERE
    .main__information 
        .main__informationDate
            .main__informationDateUp
                .main__informationDateUpInputs 
                    input.main__informationDateUpInput(type="text" placeholder="Date" color="red")
                    input.main__informationDateUpInput(type="text" placeholder="Time")
                    input.main__informationDateUpInput(type="text" placeholder="How many people")
                    input.main__informationDateUpInput(type="text" placeholder="Special wishes")
                    input.main__informationDateUpInput(type="text" placeholder="Your name")
                    input.main__informationDateUpInput(type="text" placeholder="Your phone")
            .main__informationDateDown 
                    p.main__informationDateDown-description Monday - Sunday ; 09:00 - 02:00
                    a.main__informationDateDown-btn(href="") RESERVATION
        .main__informationR 
            h1.main__informationR-text RESERVE A TABLE
            p.main__informationR-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
            p.main__informationR-descriptionA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.

            